.App {
  text-align: center;
}

.main-content {
  background-color: rgb(28, 31, 41);
  color: rgb(168, 186, 219);
  height: 130vh;
}

.about-paragraph {
  font-size: 15px;
}

.text-center {
  font-weight: 700;
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  font-size: larger;
}

.hello {
  font-weight: 400;
  font-size: 8em;
}

.about-image {
  height: 50vh;
  object-fit: cover;
  display: flex;
  margin-bottom: 4rem;
  justify-content: center;
}

/* 
.about-pic {
  background-image: url('./assets/images/paris.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
} */

.nav-link {
  font-size: larger;
}

.about-text {}